@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

body{
    margin: 0;
    background:url(./fondo.png) ;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Righteous';
    
}
header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    font-size: 20px;
    color: brown;
    font-family: 'Righteous';
    background-color: #efcead;
    size: auto;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    header ul li{
        list-style: none;
        margin-left: 20px;
    }
    header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: brown;
    border-radius: 20px;
    
    }
    header ul li a:hover, 
    header ul li a.active {
        background: brown;
        color: #fff;
    }
.logo{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}
.logo img{
    height: 100px;
    display: flex;
}

.text{
margin-left:50px;
margin-right: 50px;
font-size: 30px;
color: #246c38;
display: flex;
font-family: 'Roboto';
background: rgba(224, 216, 216, 0.6);
text-align: center;
size-adjust: auto;
}
.container{
    margin-top: 20px;
    font-family: 'Righteous';
    size-adjust: auto;
}
.container .form {
    background: rgba(0,0,0,.6);
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin: auto;
}
.container .form .form-label {
    color: #efcead;
    display: flex;
    font-size: 20px;
    position: relative;
}
.container .form .form-input, .form-textarea {
    background: rgb(114, 64, 29);
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(198, 123, 71);
    width: 50%;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 50px;
    font-size: 14px;
    color:#FFF;
}
.container .form .button{
    width: 100%;
    outline: none;
    background: #4ad468;
    font-size: 20px;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 50px;
    font-family: 'Righteous';
}
.container .form .button:hover {
background:#246c38 ;
}
.container .form .opt {
    width: 100%;
    background: #4ad468;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 50px;
    font-family: 'Righteous';
}
.final{
    margin-left:50px;
    margin-right: 50px;
    justify-content: center;
    background: rgba(224, 216, 216, 0.6);
    display: flex;
    font-family: 'Roboto';
    text-align: center;
    size-adjust: auto;
}