@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous';
}
.contendor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header{
    position: relative;
    width: 100%;
    height: 600px;
    background: url(./background2.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    height: 150px;
    margin: 10px 10px;
    float: left;
}
nav{
    text-align: right;
    padding: 50px 50px 0 0;
}
nav a{
    color: #fff;
    background:brown ;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 20px;
}

nav a:not(:last-child){
    margin-right: 10px;
}

nav a:hover, 
header ul li a.active {
    background: #fff;
    color: brown;
}
label{
    z-index: 3;
    display: none;
}
label .check{
    z-index: 3;
    display: none;
}
.content{
    max-width: 650px;
    padding: 10px 10px;
}
.content h2{
    color: #eedcc8;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;  
}
.content h2 span{
    color: #f19820;
    font-size: 60px;
    font-weight: 600;
}
.content h2 span1{
    color: #22408c;
    font-size: 60px;
    font-weight: 600;
}
.content h2 span2{
    color: #ce2028;
    font-size: 60px;
    font-weight: 600;
}
.content p{
    font-size: 20px;
    font-weight: 100px;
    color: black;
    text-align: justify;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}

.info{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    background: #f19820;
    background: url(./5\ Whys\ DAM.png)no-repeat;
    width: 100%;
}
.section h2{
    text-align: center;
    margin-top: 50px;
    color: #11423a;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;  
}
.slider-frame{
    justify-items: center;
    width:400px;
    height: 300px;
    overflow:hidden;
    animation: slide 1s infinite alternate ease-in-out;
}
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 700%;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
}
@keyframes slide {
    0% {margin-left: 0%;}

}
@media (max-width: 960px){
    body{ 
        background: url(./background.png)no-repeat;
        background-size: cover;
        width: 90%;
        display: flex;
        background-position: center;
    }
    header nav{
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: brown;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: #fff;
    }

    label .close-btn{
        display: none;
    }
    #check:checked ~ header nav{
        z-index: 2;
        position: fixed;
        background: rgba(142,107,73,0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header nav a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header img{
        position: absolute;
        bottom: -6px;
    }
    .content p{
        background: rgba(142,107,73,0.5);
        font-size: 20px;
    }
}
@media (max-width:560px){
    body{ 
    background: url(./background.png)no-repeat;
    background-size: cover;
    width: 90%;
    display: flex;
    background-position: center;
    }
    .content h2{
        color: #eedcc8;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 60px;
        margin-bottom: 30px;  
    }
    .content h2 span{
        color: #f19820;
        font-size: 50px;
        font-weight: 600;
    }
    .content h2 span1{
        color: #22408c;
        font-size: 50px;
        font-weight: 600;
    }
    .content h2 span2{
        color: #ce2028;
        font-size: 50px;
        font-weight: 600;
    }
    .content p{
        background: rgba(142,107,73,0.5);
        font-size: 25px;
    }
}
    