@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous';
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(./background.png)no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    position: relative;
    height: 150px;
}

nav a{
    color: #fff;
    background:brown ;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
}
nav a:not(:last-child){
    margin-right: 10px;
}

nav a:hover, 
header ul li a.active {
    background: #fff;
    color: brown;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
div a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
div a:not(:last-child){
    margin-right: 60px;
}
div a:hover{
    transform: scale(1.5);
}
label{
    display: none;
}
.check{
    z-index: 3;
}

}
    